# Build results
bin/
obj/
publish-current/

# User-specific files
*.user
*.suo
*.rsuser

# VS Code
.vscode/

# Rider / JetBrains
.idea/

# Visual Studio
.vs/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Logs & temp
*.log
*.tmp
